.menu {
    background-color: #333;
    color: white;
    padding: 0px 20px;
  }
  
  .menu-header {
    display: flex;
    justify-content: space-between;
  }

  .expandable-meniu {
    position: absolute; 
    right: 0; 
    top: 0;
    margin-top: 5px;
  }
  
  .menu-logo {
    font-size: 35px;
  }
  
  .menu-links {
    border-top: 1px solid white;
    list-style: none;
    display: flex;
    padding: 0px 0px 10px 0px;
    margin: 0;
  }
  
  .menu-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    text-align: center; 
    width: 100px;
    display: inline-block;
  }

  .menu-links a:hover {
    background-color: rgb(219, 128, 128);
    border-radius: 10px;
  }

  .menu-links button {
    background: none; 
    border: none;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    margin-right: 10px;
    text-align: center; 
    width: 100px;
    display: inline-block;
    cursor: pointer;
  }
  
  .menu-links button:hover {
    background-color: rgb(219, 128, 128);
    border-radius: 10px;
  }

  .menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    width: 70px;
    height: 70px;
  }
  
  .menu-toggle:hover {
    background-color: rgb(219, 128, 128);
    border-radius: 50%;
  }

  .menu-links-right {
    margin-left: auto;
    display: flex;
    gap: 20px;
  }

  @media (max-width: 768px) {
    .menu-links {
      display: none;
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 90px;
      left: 0;
      width: 100%;
      padding: 10px 0;
    }
  
    .menu-links.open {
      display: flex;
    }
  
    .menu-toggle {
      display: block;
    }
  }
  